<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ titlu }}</title>
    <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #333; padding: 6px; text-align: center; }
        th { background-color: #eee; }
    </style>
</head>
<body>
    <h2>{{ titlu }}</h2>
<!--    <a href="/">⟵ Înapoi</a>-->
      <button onclick="location.href='/'" style="
        background-color: #007BFF;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 20px;">
        Înapoi la pagina principala
      </button>
    <table>
        <thead>
            <tr>
                {% for col in coloane %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in date %}
                <tr>
                    {% for col in coloane %}
                        <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
